* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	height: 100%;
	width: 100%;
	background-color: white;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
}

.navbar {
  float: left;
}

.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: #aed1e6;
}

